* {
    box-sizing: border-box;
}
body {
    font-family: arial;
    background: #d8e4f4;
}
.container {
    width: 100%;
    margin: 0 auto;
}
.container .header {
    text-align: center;
    background: aquamarine; 
    color:#25287b;
    display: flex;
    align-items: center;
}
.container .header .text h1 {
    font-size: 18px;
    padding-left: 470px;
}
.container .header .text p {
    font-size: 14px;
    padding-left: 470px;
}
.container .nav {
    overflow: hidden;
    background-color: aqua;
}
.container .nav a{
    float: left;
    color: black;
    border: 1px solid none;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 14px;
}
.nav a:hover {
    color: red
}
.container .row .leftcolum {
    float: left;
    width: 78%;
    text-align: justify;
}
.container .row .rightcolum {
    float: left;
    width: 22%;
}
.container .row .leftcolum .card-news {
    width: 95%;
    background-color: white;
    padding: 10px; 
    margin: 10px;
    float: left;
    text-align: justify;
}
.container .row .leftcolum .card-news h4 {
    text-align: center;
}
.container .row:after { 
    content: "";
    display: table;
    clear: both;
}
.container .row .rightcolum .card {
    text-align: center;
    background-color: white;
    margin-top: 10px;
}
.container .row .rightcolum .card h4 {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 30px 35px;
}
.container .footer {
    padding: 10px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
}